@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

html, body {
  min-height: 100%;
}

::selection {
  color: #fff;
  background-color: #F87171;
}

body {
  background-color: floralwhite;
}